
        body{
            background-color: #f0f8ff;
        }
        div{
            width: 75%;
            min-width: 500px;
            border: 1px solid #333333;
            margin: 1em;
            padding: 0.5em;
            background-color: white;
            box-shadow: 5px 8px black;
            border-radius: 10px;
        }
        .redAround{
                border-style: dashed;
                border-color: red;
                box-shadow: 5px 8px red;
                color: red;
        }
        .ipsum{
            padding-left: 0.5em;
            padding-right: 0.5em;
            background-color: #fdca96;
        }
        .quis{
            padding-left: 0.5em;
            padding-right: 0.5em;
            background-color: #fdfd96;
        }
        /* edit this part 
